.figure-container {
    text-align: center;
    margin: 15px 0;
}
.figure-container img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.figure-caption {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}
.figure-caption:before {
    content: "Рисунок " counter(figureCounter) " – ";
}
body {
    counter-reset: figureCounter;
}
.figure-container {
    counter-increment: figureCounter;
}